/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.container{
    width: 700px;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
}

.title{
    display: flex;
    justify-content: center;
}

ul{
    list-style-type: none;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
}

ul li{
    background-color: aqua;
    padding: 1rem;
    margin-bottom: .3rem;
    border: 1px solid black;

}